.flex-container div {
  height: 1000px;
  width: 1000px; }

#blue_large {
  background: #3D8AE9;
  position: absolute;
  height: 200px;
  width: 400px;
  margin: 0px;
  z-index: -1; }

#yellow_Med {
  background: #F8ED00;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 1;
  left: 405px; }

#grey_Med, #grey_Med2 {
  background: #D8D8D8;
  position: absolute;
  height: 200px;
  width: 200px;
  left: 605px; }

#red_Med {
  background: #DF0000;
  position: absolute;
  height: 200px;
  width: 100px;
  left: 805px; }

#teal_Small {
  background: #00EAC3;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 905px; }

#black_Small {
  background: #4A4A4A;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 905px;
  top: 108px; }

#red_Xsmall, #red_Xsmall3, #red_Xsmall4 {
  background: #DF0000;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 208px; }

#yellow_Xsmall, #yellow_Xsmall3, #yellow_Xsmall4 {
  background: #F8ED00;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 208px;
  left: 58px; }

#red_Xsmall2 {
  background: #DF0000;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 208px;
  left: 108px; }

#yellow_Xsmall2 {
  background: #F8ED00;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 208px;
  left: 158px; }

#pink_long, #pink_long2 {
  background: #D000E6;
  position: absolute;
  height: 50px;
  width: 400px;
  top: 208px;
  left: 208px; }

#purple_long, #purple_long2 {
  background: #A300FF;
  position: absolute;
  height: 100px;
  width: 400px;
  top: 208px;
  left: 605px; }

#orange_long, #orange_long2 {
  background: #FFA600;
  position: absolute;
  height: 50px;
  width: 400px;
  top: 258px; }

#Dgreen_short, #Dgreen_short2 {
  background: #297B00;
  position: absolute;
  height: 50px;
  width: 200px;
  top: 258px;
  left: 405px; }

#black_med, #black_med2 {
  background: #4A4A4A;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 308px; }

#yellow_small {
  background: #F8ED00;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 508px; }

#orange_small {
  background: #FFA600;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 608px; }

#orange_small2 {
  background: #FFA600;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 508px;
  left: 108px; }

#yellow_small2 {
  background: #F8ED00;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 608px;
  left: 108px; }

#red_large {
  background: #DF0000;
  position: absolute;
  height: 400px;
  width: 295px;
  top: 308px;
  left: 208px; }

#white_med {
  background: #FFFFFF;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 458px;
  left: 308px; }

#white_Xsmall6, #white_Xsmall7 {
  background: #FFFFFF;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 658px;
  left: 205px; }

#white_Xsmall7 {
  top: 658px;
  left: 455px;
  z-index: 1; }

#white_Xsmall, #white_Xsmall2, #white_Xsmall3, #white_Xsmall4, #white_Xsmall5 {
  background: #FFFFFF;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 308px;
  left: 207px; }

#white_Xsmall2 {
  top: 308px;
  left: 453px; }

#green_Xsmall, #green_Xsmall2, #green_Xsmall3 {
  background: #59DD00;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 308px;
  left: 503px; }

#white_Xsmall3 {
  top: 308px;
  left: 554px; }

#green_Xsmall2 {
  top: 308px;
  left: 605px; }

#white_Xsmall4 {
  top: 308px;
  left: 655px; }

#green_Xsmall3 {
  top: 308px;
  left: 705px; }

#white_Xsmall5 {
  top: 308px;
  left: 755px; }

#black_med2 {
  top: 308px;
  left: 805px; }

#grey_long, #grey_long2 {
  background: #D8D8D8;
  position: absolute;
  height: 50px;
  width: 300px;
  top: 358px;
  left: 505px; }

#Dgreen_long {
  background: #297B00;
  position: absolute;
  height: 50px;
  width: 300px;
  top: 408px;
  left: 505px; }

#grey_long2 {
  top: 458px;
  left: 505px; }

#teal_large {
  background: #00EAC3;
  position: absolute;
  height: 200px;
  width: 300px;
  top: 508px;
  left: 505px; }

#grey_Med2 {
  top: 508px;
  left: 805px; }

#purple_long2 {
  top: 708px;
  left: 8px; }

#pink_long2 {
  top: 708px;
  left: 408px; }

#yellow_Xsmall3 {
  top: 708px;
  left: 808px; }

#red_Xsmall3 {
  top: 708px;
  left: 858px; }

#yellow_Xsmall4 {
  top: 708px;
  left: 908px; }

#red_Xsmall4 {
  top: 708px;
  left: 958px; }

#Dgreen_short2 {
  top: 758px;
  left: 408px; }

#orange_long2 {
  top: 758px;
  left: 608px; }

#black_Xsmall, #black_Xsmall3, #black_Xsmall4, #black_Xsmall5, #black_Xsmall6 {
  background: #4A4A4A;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 85px;
  left: 50px; }

#black_short1 {
  background: #4A4A4A;
  position: absolute;
  height: 50px;
  width: 100px;
  top: 85px;
  left: 150px; }

#black_Xsmall3 {
  left: 300px; }

#black_Xsmall4 {
  left: 405px;
  top: 8px;
  z-index: 1; }

#black_Xsmall5 {
  top: 158px;
  left: 555px;
  z-index: 1; }

#black_Xsmall6 {
  left: 675px; }

/*# sourceMappingURL=app.css.map */
