.flex-container div {
    height: 1000px;
    width: 1000px;
}
#blue_large {
    background: $blue;
    position: absolute;
    height: 200px;
    width: 400px;
    margin: 0px;
    z-index: -1;
}
#box2{
    background: $black;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 70px;
    left: 50px;
    z-index: 1;
}
#box3{
    background: $black;
    position: absolute;
    height: 50px;
    width: 100px;
    top: 70px;
    left: 150px;
    z-index: 1;
}
#box4{
    background: $black;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 70px;
    left: 300px; 
}
#yellow_Med{
    background: $yellow;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 1;
    left: 405px;
}
#grey_Med{
    background: $grey;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 605px;
}
#red_Med{
    background: $red;
    position: absolute;
    height: 200px;
    width: 100px;
    left: 805px;
}
#teal_Small{
    background: $teal;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 905px;
}
#black_Small{
    background: $black;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 905px;
    top: 108px;
}
#red_Xsmall{
   @include sameBox($pattern1...);
    top: 208px;
}
#yellow_Xsmall{
   @include sameBox($pattern2...);
    top: 208px;
    left: 58px;
}
#red_Xsmall2{
    @include sameBox($pattern1...);
    top: 208px;
    left: 108px;
}
#yellow_Xsmall2{
    @include sameBox($pattern2...);
    top: 208px;
    left: 158px;
}
#pink_long{
    background: $pink;
    position: absolute;
    height: 50px;
    width: 400px;
    top: 208px;
    left: 208px;
}
#purple_long{
    background: $purple;
    position: absolute;
    height: 100px;
    width: 400px;
    top: 208px;
    left: 605px;
}
#orange_long{
    background: $orange;
    position: absolute;
    height: 50px;
    width: 400px;
    top: 258px;
}
#Dgreen_short{
    background: $green;
    position: absolute;
    height: 50px;
    width: 200px;
    top: 258px;
    left: 405px;
}
#black_med{
   @include sameBox($blackBox...);
    top: $line3;
}
#yellow_small{
    background: $yellow;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 508px;
}
#orange_small{
    background: $orange;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 608px;
}
#orange_small2{
    background: $orange;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 508px;
    left: 108px;
}
#yellow_small2{
    background: $yellow;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 608px;
    left: 108px;
}
#red_large{
    background: $red;
    position: absolute;
    height: 400px;
    width: 295px;
    top: $line3;
    left: 208px;
}
#white_Xsmall{
    @include sameBox($pattern4...);
    top: $line3;
    left: 207px;
}
#white_Xsmall2{
   @extend #white_Xsmall;
    top: $line3;
    left: 453px;
}
#green_Xsmall{
    @include sameBox($pattern3...);
    top: $line3;
    left: 503px;
}
#white_Xsmall3{
    @extend #white_Xsmall;
    top: $line3;
    left: 554px;
}
#green_Xsmall2{
    @extend #green_Xsmall;
    top: $line3;
    left: 605px;
}
#white_Xsmall4{
    @extend #white_Xsmall; 
    top: $line3;
    left: 655px;
}
#green_Xsmall3{
    @extend #green_Xsmall;
    top: $line3;
    left: 705px;
}
#white_Xsmall5{
    @extend #white_Xsmall;
    top: $line3; 
    left: 755px;
}
#black_med2{
    @extend #black_med;
    top: $line3;
    left: 805px;
}
#grey_long{
    @include sameBox($greyBox...);
    top: $line3 + 50px;
    left: 505px;
}
#Dgreen_long{
    background: $green;
    position: absolute;
    height: 50px;
    width: 300px;
    top: $line3 +100px;
    left: 505px;
}
#grey_long2{
    @extend #grey_long;
    top: $line3 + 150px;
    left: 505px;
}
#teal_large{
    background: $teal;
    position: absolute;
    height: 200px;
    width: 300px;
    top: $line3 + 200px;
    left: 505px;
}
#grey_Med2{
    @extend #grey_Med;
    top: $line3 + 200px;
    left: 805px;
}
#purple_long2{
    @extend #purple_long;
    top: 708px;
    left: 8px;
}
#pink_long2{
    @extend #pink_long;
    top: 708px;
    left: 408px;
}
#yellow_Xsmall3{
    @extend #yellow_Xsmall;
    top: 708px;
    left: 808px;
}
#red_Xsmall3{
    @extend #red_Xsmall;
    top: 708px;
    left: 858px;
}
#yellow_Xsmall4{

}
#red_Xsmall4{

}
#Dgreen_short2{

}
#orange_long2{

}