$orange: #FFA600;
$grey: #4A4A4A;
$blue: #3D8AE9;
$yellow: #F8ED00;
$white: #D8D8D8;
$red: #DF0000;
$teal: #00EAC3;
$pink: #D000E6;
$purple: #A300FF;
$lightWhite: #FFFFFF;
$green: #297B00;
$lightGreen: #59DD00;
$pattern1: (background: $red, position:absolute, height: 50px, width: 50px);
$pattern2: (background: $yellow, position: absolute, height: 50px, width: 50px);
$pattern3: (background: $lightGreen, position: absolute, height: 50px, width: 50px);
$pattern4: (background: $lightWhite, position: absolute, height: 50px, width: 50px);
$line3: 308px;