$orange: #FFA600;
$black: #4A4A4A;
$blue: #3D8AE9;
$yellow: #F8ED00;
$grey: #D8D8D8;
$red: #DF0000;
$teal: #00EAC3;
$pink: #D000E6;
$purple: #A300FF;
$White: #FFFFFF;
$green: #297B00;
$lightGreen: #59DD00;
$line3: 308px;
$bottomline: 708px;
$pattern1: (background: $red, position:absolute, height: 50px, width: 50px);
$pattern2: (background: $yellow, position: absolute, height: 50px, width: 50px);
$pattern3: (background: $lightGreen, position: absolute, height: 50px, width: 50px);
$pattern4: (background: $White, position: absolute, height: 50px, width: 50px);
$blackBox: (background: $black, position: absolute, height: 200px, width: 200px);
$greyBox: (background: $grey, position: absolute, height: 50px, width: 300px);